*,*::after,*::before{
	box-sizing: border-box;
}
.grid{
	display: grid;
	grid-template-columns: 1fr 2fr;
}
form{
	padding:20px;
	width:90%;
	margin:50px auto;
	border:0.7px solid #f9f9f9;
	background-color: #f1f1f1;
	border-radius: 25px;
	position:sticky;
	top:50px;
	align-self:flex-start;
}
form label{
	font-size:22px;
}
form input, form select{
	width:100%;
	padding:10px 20px;
	font-size:20px;
	margin-bottom:20px;
}
form input[type="submit"]{
	height:60px;
}
form input[type="submit"]:hover{
	background-color: lightgreen;
	cursor:pointer;
}

table{
	width:90%;
	margin:50px auto;
	text-align:center;
	border-collapse:collapse;
}
table td,th,tr{
	border:1px solid #ddd;
}
table thead th{
	background-color:black;
	color:white;
	font-size:20px;
	font-weight:700;
}
table tr,th{
	height:50px;
}
table tr:hover{
	background-color:#ddd;
}
table tr:nth-child(odd){
	background-color: #f2f2f2;
}

